# Allow sudo of simple aliases
alias sudo='sudo '

# Reload the profile chain
alias reload="source $HOME/.profile"

# Easier Navigation
alias ..='cd ..'
alias ...='cd ../..'

# Shortcuts
alias db='cd ~/Dropbox'
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Listing Aliases
alias ls='ls -F'
alias l='ls -Al'

# The "oh shit" copy/move/delete safeguards
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# Show/hide hidden files in Finder
alias show_hidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide_hidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Use some alternate programs that I forget to type properly
#   top -> htop
command -v htop >/dev/null 2>&1 && alias top=htop

# Show a pretty directory tree from the current directory
alias mytree="find . -type d | sed -e 1d -e 's/[^-][^\/]*\//--/g' -e 's/^/ /' -e 's/-/|-/'"

# Lock screen (requires password to unlock)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Mou (markdown editor; http://mouapp.com/)
alias mou="open /Applications/Mou.app" 
