# Make various utils do color
export CLICOLOR=true

# Editor
export EDITOR=vim

# Larger bash history
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE

# Ignore duplicate commands and whitespace
export HISTCONTROL=ignoreboth

# Ignore some commands in the history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date"

# Prefer us english and utf-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Enable colored grep output
export GREP_OPTIONS='--color=auto'

# Paging
export PAGER=less
export LESS=-FMi

# Prompt
export PS1="\h \e[30;1m\w\e[0m\n\$ "

# Java Stuff
export MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=256m"