[core]
        pager = cat
	autocrlf = input
[user]
	name = Dustin Barnes
	email = dustin.barnes@gmail.com
[push]
	default = current
[alias]
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        co = checkout
        ci = commit
        st = status
        ahead = log @{u}..
        behind = log ..@{u}
